vision_model/detection/detection_data/
vision_model/detection/runs/detect/train/weights/
vision_model/detection/yolo11n.pt
vision_model/classfication/classification_data/
vision_model/classfication/classification_data2/
vision_model/classification/resnet18-models/